.errorMsg{
	color:#FF0000;
}
.successMsg{
	color:#339900;
}

fieldset.fieldset_custom {
    border: 1px groove #ddd !important;
    padding: 0 15px 0px 15px !important;
    /*margin: 0 0 5px 0 !important;*/
    /*-webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;*/
}

legend.fieldset_custom {
	font-size: 14px !important;
	font-weight: bold !important;
	text-align: left !important;
	width:auto;
	padding:0px;
	margin-top:5px;
	margin-bottom:5px;
	border-bottom:none;
}